:root {
    --dark-neutral: #111111;
    --neutral: #ffffff;
    --primary-color-hover: #834de8;
    --primary-color: #6f2ca9;
    --dark-grey: #29272a;
    --light-grey: #EDEDED;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #111111;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}